* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #9be15d, #00e3ae);
  /* background: linear-gradient(135deg, #C33764 0%, #1D267 100%); */
  min-height: 100vh;
}
/* #FDFCFB → #E2D1C3 */
header {
  background-color: blue;

  /* padding: 20px; */
  /* background: linear-gradient(to top right, #9be15d, #00e3ae); */
  color: white;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  /* margin: 0 15px; */
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

h1 {
  margin: 0;
  font-size: 24px;
}

button {
  margin: 5px;
}

.container {
  max-width: 100%;
  /* margin: 20px auto; */
  padding: 20px;
  background: linear-gradient(to bottom right, #9be15d, #9be15d);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.upload-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button {
  background-color: #c33764;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1d2677;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% auto;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
}

button {
  background-color: #c33764;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #1d2687;
}

button.forgot-password {
  background: none;
  border: none;
  color: #c33764;
  cursor: pointer;
  font-size: 14px;
  margin-top: -10px;
}

button.forgot-password:hover {
  text-decoration: underline;
}

/* @media (max-width: 768px) {
  .login-card {
    padding: 20px;
  }
} */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% auto;
}

.signup-card {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .signup-card {
    padding: 20px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-item a:hover {
  background-color: #c33764;
}

.nav-item .active {
  background-color: #c33764;
}

/* custom alert */

.custom-alert {
  position: fixed;
  top: -100px; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; /* Red background */
  color: white;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease-in-out; /* Slide in from top */
  z-index: 1000; /* Make sure it's on top of other elements */
}

.custom-alert.show {
  top: 20px; /* Slide to this position when shown */
}

/* VideoPage.css */

.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  /* max-width: 500px; */
  /* max-height: 50%; */
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* background-color: rgba(0, 0, 0, 0.7); */
  border-radius: 8px;
}

.video-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 200px;
  height: auto;
}

.video-container {
  width: 10%;
  height: 20%;
  text-align: center;
}

.video-player {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.video-info {
  margin-bottom: 20px;
}

.video-info h1 {
  margin: 0;
  font-size: 24px;
}

.video-info p {
  margin: 5px 0 0;
  font-size: 16px;
  color: #ddd;
}

.video-controls {
  display: flex;
  justify-content: space-between;
}

.video-controls button {
  background-color: #1d2671;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.video-controls button:hover {
  background-color: #c33764;
}

.video-controls button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* src/components/LoadingIndicator.css */

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px; /* Full screen height */
}

.spinner {
  width: 20px;
  height: 20px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
